.title {
  text-align: center;
}

.description {
  padding: 10px 150px 20px 150px;
}

.button {
  background-color: #008CBA;
  color: white;
  padding: 10px;
  text-align: center;
  width: 60px;
  margin: auto;
  border-radius: 5px;
}

.container {
  width: 100%;
  height: 700px;
}

.graph {
  width: 800px;
  display: inline-block;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.axis-label {
  display: inline-block;
  top: 0;
  height: 670px;
  float: top;
}

#vertical-axis {
  /*Safari*/
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
}

.y-axis-label {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-weight: bold;
}

.axis {
  display: inline-block;
  height: 670px;
  margin-left: 45px;
}

.y-axis {
  display: inline-block;
}

#regular {
  /*padding-bottom: 60px;*/
}

#mini {
  font-size: 10px;
  float: right;
  padding-bottom: 5px;
}

#tiny {
  font-size: 8px;
  float: right;
  padding-bottom: 3px;
}

.x-val {
  margin: auto;
  width: 800px;
  padding-left: 15px;
}

#x-axis td {
  padding-right: 35px;
}

#horizontal-label {
  margin-top: 10px;
  margin-left: 50%;
  font-weight: bold;
}

.legend-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50%;
  margin-left: 20px;
  width: 200px;
}

.legend {
  vertical-align: middle;
  line-height: 0.5;
  border: 1px solid gray;
  padding-left: 20px;
}

.legend p {
  font-size: 13px;
  display: inline-block;
}

.square {
  width: 10px;
  height: 10px;
  background: black;
  display: inline-block;
}

#chem {
  background: rgb(48,192,119);
}

#civil {
  background: rgb(72,26,48);
}

#comsci {
 background: rgb(255,0,0);
}

#elec {
  background: rgb(190,192,0);
}

#mech {
  background: rgb(152,153,152);
}
